* {
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.task-list {
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-shadow: 0px 0.1px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0.1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0.1px 1px 1px rgba(0, 0, 0, 0.15);
    width: 400px;
    margin-bottom: 50px;
}

.task-title {
    flex: 4;
    cursor: pointer;
}

.task-item {
    flex: 1;
    border-bottom: .1px solid #e6ebee;
    display: flex;
}

.task-content { 
    display: flex;
    align-items: center;
    border-left: .1px #f2e3de solid;
    padding: 10px;
    position: relative;
    flex: 1;
}

.delete-icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    filter:invert(0) sepia(100%) saturate(0) hue-rotate(346deg) brightness(81%) contrast(97%);
    opacity: .5;
    cursor: pointer;
    display: inline-block;
}

.task-check-box {
    border-right: .1px #f2e3de solid;
    margin-right: 5px;
    padding: 10px;
}

.actions {
    align-self: flex-end;
}

.delete-icon::before {
    content: ' ';
    display: block;
    background-image: url('../img/delete.svg');
    fill: grey;
    width: 100%;
    height: 100%;
}

.delete-icon:hover   {
    filter: invert(0) sepia(100%) saturate(50) hue-rotate(346deg) brightness(81%) contrast(97%);
    opacity: 1;
}

.task-check-box input{
    opacity: 0;
    position: absolute;
}

.create-task {
    width: 100%;;
}

.task-create {
    background-color: #f3f3f3;
}

.task-create input:focus, .task-create input, .task-title input {
    outline: 0;
    border: 0;
    background-color: transparent;
}

.task-create input::placeholder, .task-create input {
    font-size: 12px;
    color: #c2c6d2;
}

.form-validation {
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 11;
    text-align: right;
    font-size: 12px;
    line-height: 11px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #d9534f;
    visibility: hidden;
}

.description-label > .form-validation {
    position: relative;
}

.list-card-operation {
    background-image: url('../img/editV2.png');
    background-size: cover;
    color: #42526e;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    visibility: hidden;
    display: inline-block;
    cursor: pointer;
}

.show-more {
    color: #009BFF;
    cursor: pointer;
}

.description-label {
    width: 100%;
}

.task-item:hover .list-card-operation{
    visibility: visible;
}

.task-item:hover {
    background-color: #f3f3f3;
}

.has-error .form-validation {
    visibility: visible;
}

.card {
    width: 500px;
    margin: 50px auto;
    clear: both;
    display: block;
    padding: 0px 0px;
    background-color: #009BFF;
    border-radius: 4px;
}
.card::after {
    clear: both;
    display: block;
    content: "";
}

.card .checkbox-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align:center;
    padding: 40px 0px;
    display: flex;
}

.input-title {
    clear: both;
    padding: 22px 0px 0px 0px;
    font-size: 16px;
    color: rgba(255,255,255,.6);
    font-weight: 300;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1px solid #6bb3cc;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #fcfcfc;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    border: 1px solid #c0c0c0;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #c0c0c0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 7px;
  top: 0px;
  width: 6px;
  height: 14px;
  border: 2px solid #c0c0c0;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.form-signin {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.error {
    color: red;
}


@media(max-width: 576px) {
    .content {
        padding: 15px;
    }
}